.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
}
.body{
    margin: 0;
}
.head{
    width: 100%;
    padding: 10px 0;
    background-color: #FFFFFF;
}
.head_baby{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.logo{
    width: 200px;
    height: 60px;
    border-radius: 8px;
    background-color: #E2E2E2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 820px;
    height: 34px;
    border-radius: 8px;
    background-color: #E2E2E2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    width: 120px;
    height: 42px;
    border-radius: 8px;
    background-color: #E2E2E2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_1{
    background-color: #F1F1F1;
    padding: 80px 0;
}
.sec_baby_1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.content{
    background-color: #E2E2E2;
    Width: 585px;
    Height: 267px;
    border-Radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    background-color: #E2E2E2;
    width: 585px;
    height: 520px;
    border-Radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_2{
    background: #FFFFFF;
    padding: 80px 0;
}
.sec_baby_2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.title{
    width: 600px;
    height: 80px;
    background-color: #E2E2E2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: Lora;
}
.item_2{
    background-color: #E2E2E2;
    width: 380px;
    height: 420px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_3{
    background-color: #F1F1F1;
    padding: 80px 0;
}
.sec_baby_3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    
}
.item_3{
    background-color: #E2E2E2;
    width: 216px;
    height: 300px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_4{
    background-color: #FFFFFF;
    padding: 80px 0;
}
.sec_baby_4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.item_4{
    background-color: #E2E2E2;
    width: 277.5px;
    height: 300px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    background-color: #D9D9D9;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}